# List of IPs to check
ipAddresses=(
  "192.168.1.1"
  "8.8.8.8"
)

# List of DNSBL servers to check against
dnsblList=(
  "zen.spamhaus.org"
  "bl.spamcop.net"
  "dnsbl.sorbs.net"
)

# Logging
logFolder="./logs"
logFiles="blacklist.log"

# Email notification settings
emailEnable="YES"
emailTo=("admin@example.com")
emailFrom="noreply@example.com"
SMTPServerIP="smtp.example.com"
mailUserName="smtp-user"
mailPassword="smtp-password"

# Telegram notification settings
telegramEnable="YES"
telegramToken="123456789:ABC-YourBotTokenHere"
chatIDs=("123456789" "987654321")
